[submodule "submodules/public"]
	path = submodules/public
	url = https://github.com/openconfig/public.git
[submodule "submodules/pyang"]
	path = submodules/pyang
	url = https://github.com/mbj4668/pyang.git
